.nanum-pen-ap {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-ap {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-wrapper-ap {
  height: 100vh;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  overflow-y: auto;
}

/* Base sizes for small screens */
.roboto-headers-ap {
  font-size: 1rem; /* Adjust as needed */
}

.roboto-body-text-ap {
  font-size: 0.75rem;
}

.nanum-headers-ap{
  font-size: 2rem;
}

.social-icons a {
  color: red;
}

.social-icons a:hover {
  color: darkred;
}

.social-icons i{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  
}


/* Medium screens (≥ 768px) */
@media (min-width: 768px) {
  .roboto-headers-ap {
    font-size: 1.25rem; /* Adjust as needed */
  }

  .roboto-body-text-ap{
    font-size: 0.8rem;
  }

  .nanum-headers-ap{
    font-size: 2.25rem;
  }

  .social-icons i{
    font-size: 23px;
    margin-right: 10px;
    margin-left: 10px;
    
  }
}

/* Large screens (≥ 992px) */
@media (min-width: 992px) {
  .roboto-headers-ap {
    font-size: 1.5rem; 
  }

  .roboto-body-text-ap{
    font-size: 1rem;
  }

  .nanum-headers-ap{
    font-size: 3rem;
  }

  .social-icons i{
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    
  }
}

.img-responsive {
  max-width: 100%; 
}

@media (max-width: 576px) {
  .img-responsive {
    width: 50%; /* Smaller on extra small screens */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .img-responsive {
    width: 75%; /* Adjust size on small screens */
  }
}

@media (min-width: 768px) {
  .img-responsive {
    width: 100%; /* Full width on larger screens */
  }
}


