.nanum-pen-proj-card {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-mono-proj-card {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.project-card-title{
    width: 25rem;
    height: 10rem;
    border: 1px solid blue;
}

.project-card-summary{
    width: 25rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 25px;
}