.nanum-pen-proj-card {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-mono-proj-card {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}