.roboto-mono-email-me {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Base sizes for small screens */

.roboto-body-text-email-me{
  font-size: 0.75rem;
}



/* Medium screens (≥ 768px) */
@media (min-width: 768px) {
  .roboto-body-text-email-me{
    font-size: 0.8rem;
  }
}

/* Large screens (≥ 992px) */
@media (min-width: 992px) {
  .roboto-body-text-email-me{
    font-size: 1rem;
  }
}